@import "../variables.scss";

.question-list {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: $primary-dark;

    font-size: 0.3rem;

    @media (min-width: $md) {
        font-size: 1rem;
    }
}

.question-tab {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-color: $primary-dark;

    transition: background-color 0.5s;

    &:hover {
        background-color: $primary-light;
    }
}

.question-tab_active {
    background-color: $primary;
}